.Guide {
  border: 1px solid #ddd;
  border-radius: 3px;
}

.Guide + .Guide {
  margin-top: 24px;
  margin-top: 1.5rem;
}

.Guide-heading {
  background: #fafafa;
  border-bottom: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  font-size: 1.25em;
  margin: 0;
  padding: 8px 16px;
  padding: 0.5rem 1rem;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.Guide-anchor {
  color: #333;
  text-decoration: none;
}

.Guide-description {
  border-bottom: 1px solid #ddd;
  padding: 16px;
  padding: 1rem;
}

.Guide-description p {
  margin: 0;
}

.Guide-description p + p {
  margin-top: 1em;
}

.Guide-example {
  padding: 8px 16px;
  padding: 1rem;
}

.Guide-markup {
  background: #2b303b;
  border: 1px solid #16191F;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  margin: 0 -1px;
  overflow: auto;
  padding: 16px;
  padding: 1rem;
  -moz-tab-size: 2;
  tab-size: 2;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.Guide-expanderSection {
  background: #fafafa;
  border-top: 1px solid #ddd;
  border-radius: 0 0 3px 3px;
  height: 24px;
  height: 1.5rem;
  position: relative;
}

.Guide-expander {
  background: none;
  border: 0;
  color: #4A5366;
  cursor: pointer;
  font-size: 0.625em;
  font-weight: 700;
  letter-spacing: 0.1em;
  height: 100%;
  padding: 0 0.5em;
  position: absolute;
  right: 0;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

/*

Name:       Base16 Ocean Dark
Author:     Chris Kempson (http://chriskempson.com)

highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Ocean Comment */
.hljs-comment,
.hljs-title {
  color: #a7adba;
}

/* Ocean Red */
.hljs-variable,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #bf616a;
}

/* Ocean Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant,
.hljs-attribute {
  color: #d08770;
}

/* Ocean Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #ebcb8b;
}

/* Ocean Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #a3be8c;
}

/* Ocean Aqua */
.css .hljs-hexcolor {
  color: #96b5b4;
}

/* Ocean Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #8fa1b3;
}

/* Ocean Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #b48ead;
}

.hljs {
  display: block;
  background: #2b303b;
  color: #c0c5ce;
  padding: 0.5em;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
